In [87]:
import pandas as pd
import glob, os
import re
import numpy as np

In [130]:
#path = 'enter path of images'
image_files = glob.glob(path+'*.jpg')
image_file_names = [s.strip(path) for s in image_files]
#print(image_file_names)

In [131]:
def string_to_int(text):
    return int(text) if text.isdigit() else text
def redefined_keys(text):
    return [string_to_int(c) for c in re.split(r'(\d+)', text)]

In [132]:
image_file_names.sort(key=redefined_keys)
uniqlousa_df = pd.DataFrame(image_file_names, columns=['file_name'])
uniqlousa_df.index = np.arange(1,len(initial_df)+1)
uniqlousa_df['file_name'] = uniqlousa_df['file_name'].map(lambda x: x.rstrip('.jpg'))

In [133]:
file_name = os.listdir(path)
text_files = {}
for file in file_name:
    if file.endswith(".txt"):
        with open(path + file, "r") as target_file:
            text_files[file] = target_file.read()
text_df = (pd.DataFrame.from_dict(text_files, orient='index')
             .reset_index().rename(index = str, columns = {'index': 'file_name', 0: 'caption'}))
text_df['file_name'] = text_df['file_name'].map(lambda x: x.rstrip('.txt'))

In [134]:
uniqlousa_df_consolidated = pd.merge(uniqlousa_df, text_df, on="file_name", how="left")

In [135]:
uniqlousa_df_consolidated

,file_name,caption
0,2017-06-21_06-19-49_UTC_profile_pic,NaN
1,2019-03-09_16-23-41_UTC,Where 5th Ave meets pop art. Now‚Äôs your chance...
2,2019-03-09_20-23-28_UTC,"Wherever you travel, go in style! üó∫Ô∏è @elisegio..."
3,2019-03-10_15-52-51_UTC,Keep it classic. üíØ @brendanfallis in our recen...
4,2019-03-11_14-00-18_UTC,Kanpai! Cheers! üç∂ Let's toast to the latest dr...
...,...,...
2258,2021-06-04_13-18-30_UTC_4,NaN
2259,2021-06-04_13-18-30_UTC_5,NaN
2260,2021-06-04_13-18-30_UTC_6,NaN
2261,2021-06-04_19-15-28_UTC,Rolling into the weekend like ü§óüö¥‚Äç‚ôÄÔ∏èüíô #AIRism #...
2262,2021-06-05_14-01-48_UTC,Want to keep your weekend relaxed? We've got t...

In [ ]:
#TODO add comments,likes from json
import json 
import pprint
json_data = None
with open(path+'2019-03-27_14-15-02_UTC.json','r') as f:
    data = f.read()
    json_data = json.loads(data)
pprint.pprint(json_data)